@model IEnumerable<Student>

<h2>Student List</h2>
<a href="/Student/Create" class="btn btn-primary">Create Student</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.StudentId)</th>
            <th>@Html.DisplayNameFor(m => m.StudentName)</th>
            <th>@Html.DisplayNameFor(m => m.StudentSurname)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => student.StudentId)@*Bu şekilde de gösterebiliriz*@</td>
            <td>@student.StudentName</td>
            <td>@student.StudentSurname</td>
            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.StudentId" class="btn btn-primary btn-sm">Edit</a>
                <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.StudentId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>